html {
  background-color: "black";
}

#plateau {
    position: relative;
    margin-right: 0;
    margin-left: 0;
    margin-top: 4px;
  }

  #personnage {
    position: absolute;
    z-index: 100;
    width: 40px;
    height: 40px;
    background-image : url("img/EVA-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 0px;
    left: 0px;
  }
  #commandes {
  margin-top: 1rem;
  }

  #commandes img {
    height: auto;
  }

  #general {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
  }

  #commandes h3 {
    text-decoration: underline;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 1rem;
  }


  #commandes li {
     list-style-type: none;
  }
