#plateau{
  background-color: #7C1919;
  margin-left:auto;
  margin-right: auto;
  position: relative;
}


#pion{
background-color: #2F5D8A;
width: 40px;
height: 40px;
position: absolute;
top: 0px;
left: 0px;
z-index: 100;
}
