#plateau {
    position: relative;
    margin-right: 0;
    margin-left: 0;
    margin-top: 4px;
  }

  #personnage {
    position: absolute;
    z-index: 100;
    width: 40px;
    height: 40px;
    background-image : url("img/EVA-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 0px;
    left: 0px;
  }
